body{
    font-family: Open sans, arial, helvetica, sans-serif;
    height:100vh;
}
.grille-accueil{
    width:100%;
    height:100%;
    display: grid;
    grid-template: 70px 500px minmax(300px, 1fr) / 600px 1fr 600px;
}

/*--------- MENU ---------*/

.menu {
    grid-area: 1 / 1 / 2 / -1;
    width:100%;
    height:70px;

}
.titre-menu {
    font-family: Playfair Display, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:35px;
    height: 70px;
    position: relative;
    z-index: 200;
    border-bottom: 1px solid #000;
}
.menu:hover > .titre-menu {
    border-bottom: 0px solid #000;
}
.titre-menu::after {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    width: 35px;
    background: #000;
    top: 61px;
}
.liste-menu {
    background: #fff;
    position: relative;
    z-index: 100;
    top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    border-bottom: 1px solid #000;
}
.titre-menu:hover + .liste-menu{
    transition: top 0.2s ease-in-out;
    top: 0px;
}
.liste-menu:hover{
    top: 0px;
}
.liste-menu li {
    margin: 10px 0;
}
.liste-menu a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
    position: relative;
}
.liste-menu a::after{
    content: " ";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.liste-menu a:hover::after{
    transform:scale(1);
}

/*--------- PRESENTATION ---------*/
.presentation {
    grid-area: 2 / 1 / 3 / 2;
    background: #6fb4ec;
    padding: 40px;
}
.presentation img {
    width: 80px;
}
.presentation h1 {
    font-size:80px;
    font-family: Playfair Display, Arial, Helvetica, serif;
    font-weight:700;
}
.presentation p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.3;
}
.presentation a {
    padding: 15px;
    text-decoration: none;
    color: #000;
    border: 1px solid #333;
    border-radius: 5px;
    font-size:20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    width:170px;
    text-align: center;
}

/*--------- SLIDER ---------*/

.slider {
    grid-area: 2 / 2 / 3 / -1;
    position: relative;
}
.container-slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.container-slider img {
    position: absolute;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    transition: opacity 0.6s ease-in-out;
}
img.active {
    opacity: 1;
}
.cont-btn {
    position: absolute;
    top: 85%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #333;
    background: #f1f1f1;
    border: solid 1px #333;
}
.btn-nav img {
    width: 20px;
    height: 20px;
}

/*--------- CHOIX ---------*/

.choix{
    grid-area: 3 / 1 / 4 / 3;
    background: #222;
    color: #f1f1f1;
    border: solid 1px #000;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.titre-choix{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Playfair Display, sans-serif;
    /* text-align: center; */
}
.choix p {
    font-size: 20px;
    line-height: 1.4;
}
.go-galerie {
    font-size: 22px;
    display: block;
    margin: 20px auto 0;
    width: 300px;
    padding: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 15px;
    color: #f1f1f1;
}
.go-galerie:hover{
    color: #000;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}
.cont-media{
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
.media {
    margin: 10px 0;
    width: 60px;
    height: 60px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media img {
    width: 25px;
}

/*--------- CONTACT ---------*/



.contact{
    grid-area: 3 / 3 / 4 / 4;
}